html {
	background: #145A32;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

svg {
	width: 200px;
	fill: #fff;
	padding: 20px;
}